

.header { 
  display: flex;
  justify-content: center;
}

.instructions { 
  display: flex;
  justify-content: center;
}

.game-board { 
  display: flex;
  justify-content: center;
}

.card-container { 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 105vh;
  margin-top: 6vh;
}

.cards { 
  display: flex;
  border: 1px solid black;
  height: 25vh; 
  width: 25vh;
}

.cards img { 
  max-width:100%;
  max-height:100%;
}